<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Scanning
  </h1>
  <div style="width:200px;height:200px">
    <qr-scanner *ngIf="showScanner"
    [debug]="true"   
    [mirror]="false"       
    [updateTime]="500"     
    [stopAfterScan]="false" 
    (onRead)="cardScanned($event)"></qr-scanner>
  </div>
  <div>
    <h2>Gescannt {{cardList.length}}</h2>
  </div>
    <div *ngFor="let card of cardList">
    {{card}}
  </div>
</div>


